.footer {
    width:  100vw;
    height: 7rem;
    background: rgb(205, 207, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: large;
    color: black;
}